NEXT_PUBLIC_EVENT_NAME="Graduation"
NEXT_PUBLIC_EVENT_DESCRIPTION="A countdown until graduation."
NEXT_PUBLIC_ENROLLED_TIME="2020-01-01T07:30:00+07:00"
NEXT_PUBLIC_GRADUATION_TIME="2026-01-01T21:00:00+07:00"